# Server Port
PORT=3001

# LLM Provider Configuration
# Choose between 'lmstudio' or 'ollama'
LLM_PROVIDER=lmstudio

# LM Studio Configs
LM_STUDIO_URL=http://localhost:1234/v1
LM_STUDIO_MODEL=mistralai/ministral-3-3b

# Ollama Configs
OLLAMA_URL=http://localhost:11434/v1
OLLAMA_MODEL=llama3
